.root {
  display: flex;
  column-gap: var(--spacing-x);
  row-gap: var(--spacing-y);
  flex-wrap: wrap;
  min-width: fit-content;
  align-items: center;
}

.switch {
  flex: 1 0 0;
}

.button {
  flex: 0 0 auto;
}

.feedback {
  display: flex;
  align-items: center;
  width: 100%;
}

.space {
  flex: 0 0 0.5rem;
}

.error {
  color: var(--bad);
  font-size: var(--font-size-sm);
  margin: 0;
}
